
*{
    box-sizing: content-box;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100%;
}

#gameBoardContainer{
    /*
     center the container in the page
     with a blue background color
     */
    position: absolute;
    top:50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);


    background-color: aqua;
    width: 90vw;
    height: 90vh;
    margin: auto;

    /* grid container for the human and A.I gameboards */
    display:grid;

    /*define grid lines */
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    place-content: stretch;

}

#humansGameBoard{
    background-color:floralwhite;
    border:crimson 1px solid;
    /* is a grid item of the gameBoardContainer */
    /*set placement of this grid item*/
    grid-column:1/3;
    grid-row:1/2;

    /* is a grid container for the following
    gridOfHumansShips + gridOfHumansEnemysShips 
    */
    display: grid;
    grid-template-columns: repeat(2,1fr);
 
}

#gridOfHumansShips,
#gridOfHumansEnemysShips,
#gridOfAIEnemysShips,#gridOfAIsShips
{
    background-color: lightseagreen;
    display: grid;
    justify-content: stretch;
    align-items: stretch;
}

#gridOfHumansShips>h1,
#gridOfHumansEnemysShips>h1,
#gridOfAIsShips>h1,
#gridOfAIEnemysShips>h1
{
    margin: 0;
    text-align: center;
}

#gridOfHumansEnemysShips{
 
}

.gridContainer{
    display: grid;
    grid-template-columns: repeat(11,1fr);
    grid-template-rows: repeat(11,1fr);
    grid-template-areas:
    ". X1 X2 X3 X4 X5 X6 X7 X8 X9 X10"
    "A A1 A2 A3 A4 A5 A6 A7 A8 A9 A10"
    "B B1 B2 B3 B4 B5 B6 B7 B8 B9 B10"
    "C C1 C2 C3 C4 C5 C6 C7 C8 C9 C10"
    "D D1 D2 D3 D4 D5 D6 D7 D8 D9 D10"
    "E E1 E2 E3 E4 E5 E6 E7 E8 E9 E10"
    "F F1 F2 F3 F4 F5 F6 F7 F8 F9 F10"
    "G G1 G2 G3 G4 G5 G6 G7 G8 G9 G10"
    "H H1 H2 H3 H4 H5 H6 H7 H8 H9 H10"
    "I I1 I2 I3 I4 I5 I6 I7 I8 I9 I10"
    "J J1 J2 J3 J4 J5 J6 J7 J8 J9 J10";

    border: solid black 1px;
    padding-bottom: 0%;
    
  }

.gridColumnLabel, .gridRowLabel{
    user-select: none;
    margin: 0;
    background-color: aliceblue;
}

.gridCoordiante{
    border: solid darkblue 2px;
    background-color: aqua;
}

#AIsGameBoard{
    background-color:aliceblue;
    border:blue solid 1px;
    
    /* is a grid item of the gameBoardContainer */
    grid-column: 1/3;
   

    /* is a container for the following
        gridOfAIsShips + gridOfAIEnemysShips
     */
     display: grid;
     grid-template-columns: repeat(2,1fr);
}

#gridOfAIsShips{

}

#gridOfAIEnemysShips{
  
}






